.App {
  text-align: center;
  background-color: #282c34;
  min-height: 92vh;
  padding-top: 8vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vmin;
  color: white;
  padding: 0 5vw;

  .title {
    font-size: clamp(2rem, 20vw, 4rem); 
  }

  .icon {
    height: 30vmin;
    pointer-events: none;
    border-radius: 50%;
    overflow: hidden;
  }
  
}